main {
    box-sizing: border-box;
    font-family: 'Roboto';
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
   }

   .acompletar{
    margin: auto;
    text-align: center;
    width: 90%;
    height: 5vh;
    border: 2px solid white;
    border-radius: 5%;
    background-color: white;

}

.formulario{
    margin: auto;
    padding: 5vw 5vh;
    position: relative;

}

.enviar{
    margin: auto;
    text-align: center;
    width: 90%;
    height: 5vh;
    border: 2px solid #1259c3;
    border-radius: 5%;
    background-color: #1259c3;
    

}

.formularioEnviar{
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
       
    
}